<section class="d-flex flex-column justify-content-around">
    <div id="title-mainImg" class="container mt-5 d-flex justify-content-around align-items-center flex-wrap">
        <h1 [class.darkModeTitle]="darkmode">Ebay - Shpock <span class="text-success">Scraper</span></h1>
        <img src="assets/Electronic.png" class="home-main-pic" alt="products" width="500">
    </div>
    <div class="container mt-20 d-flex justify-content-around align-items-center mb-5 flex-wrap gap-3">
        <div [class.darkCard]="darkmode" id="firstImg" class="card d-flex align-items-center" style="width: 18rem;">
            <img src="assets/fast.png" class="round-img" width="100" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center" i18n>Schnelle Suchmaschine</h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div [class.darkCard]="darkmode" id="secondImg" class="card d-flex align-items-center" style="width: 18rem;">
            <img src="assets/wishlist.png" class="round-img mt-3" width="80" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center" i18n>Wunschliste</h5>
              <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div [class.darkCard]="darkmode" id="thirdImg" class="card d-flex align-items-center" style="width: 18rem;">
            <img src="assets/productsort.png" class="round-img mt-3" width="80" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center" i18n>Produktsortiment von Ebay und Shpock </h5>
                <p class="card-text text-center">Some quick example text to build on the card title and make up...</p>
            </div>
        </div>
    </div>
</section>

